<div id="component-post">
	<!-- - 頭に "http" から始まっているURLは全て受け付けられます -->
	<!-- - `data:`と書かれてあるURLは当サービスでは受け付けられません -->
	<input type="text" placeholder="画像のURL">
	<button onclick="post()">投稿</button>
</div>
<div id="component-images">
	<script>
	appendImages();
	</script>
</div>
<div id="component-actions">
	<button>新着</button>
	<button>マイページ</button>
	<button onclick="displayInput()">ログイン</button>
	<script>
	</script>
</div>

<div id="component-input" style="display: none;">
	<input type="text" class="email" placeholder="email">
	<input type="text" class="password" placeholder="password">
	<button onclick="">サインアップ</button>
</div>
