<!--

- remove fav

-->

<script>
	initializeApp()
</script>

<div id="component-post">
	<!-- - 頭に "http" から始まっているURLは全て受け付けられます -->
	<!-- - `data:`と書かれてあるURLは当サービスでは受け付けられません -->
	<input type="text" placeholder="画像のURL">
	<button onclick="post()">投稿</button>
</div>

<div id="component-images"></div>

<div id="component-actions">
	<button class="signup" onclick="$('#component-signup').show()">登録</button>
	<button>新着</button>
	<button>マイページ</button>
	<button class="login" onclick="$('#component-login').show()">ログイン</button>
</div>

<div id="component-fav" class="" onclick="toggleFav(this)">
	<span>♡</span>
	<span>♥</span>
</div>

<div class="component-images-horizontal" style="display: none"></div>

<div id="component-signup" class="component-input" style="display: none;">
	<input type="text" class="email" placeholder="email">
	<input type="text" class="password" placeholder="password">
	<button onclick="signup()">サインアップ</button>
</div>

<div id="component-login" class="component-input" style="display: none;">
	<input type="text" class="email" name="email" placeholder="email">
	<input type="text" class="password" name="password" placeholder="password">
	<button onclick="login()">ログイン</button>
</div>

