<div class="layer-1">
	<div id="component-images"></div>
</div>

<div class="component-layer layer-2">
	<div id="component-post">
		<!-- - 頭に "http" から始まっているURLは全て受け付けられます -->
		<!-- - `data:`と書かれてあるURLは当サービスでは受け付けられません -->
		<input type="text" placeholder="画像のURL">
		<button onclick="post()">投稿</button>
	</div>
	<div class="frombottom">
		<div class="row"></div>
		<div class="area-recommendation" style="display: none">
			<h4>関連</h4>
			<div class="component-images-horizontal"></div>
			<div class="close" onclick="$(this).parent().hide(300)">×</div>
		</div>
		<div id="component-actions">
			<a class="newPosts" href="/images">新着</a>
			<a class="favorite" href="/images?favorite=true">お気入り一覧</a>
			<button class="mypage" onclick="$('#component-logout').show(300)">マイページ</button>
			<button class="login poyooon" onclick="$('#component-login').show(300)">ログイン</button>
		</div>
	</div>
</div>

<div class="component-layer">
	<div id="component-login" class="component-overlay" style="display: none;">
		<div class="small">忘れないようにメモを。</div>
		<input type="text" class="email" name="email" placeholder="email">
		<input type="password" class="password" name="password" placeholder="password">
		<div class="">
			<button onclick="login()">ログイン</button>
			<div class="small"
			onclick="$(this).parent().hide(300); $(this).parent().next().show(300)">
			　新規登録 ＞
			</div>
		</div>
		<div class="" style="display: none">
			<button onclick="signup()">サインアップ</button>
			<div class="small"
			onclick="$(this).parent().hide(300); $(this).parent().prev().show(300)">
			＜ 戻る　
			</div>
		</div>
		<div class="close" onclick="$(this).parent().hide(300)">×</div>
	</div>

	<div id="component-logout" class="component-overlay" style="display: none;">
		<h1>＼(^o^)／</h1>
		<h5>xxxxxxxxxx@xxxxx.xxx</h5>
		<button onclick="logout()">ログアウト</button>
		<div class="close" onclick="$(this).parent().hide(300)">×</div>
	</div>

	<div id="webview" class="component-overlay" style="display: none;">
		<div class="frombottom">
			<p>やり方を動画で解説</p>
			<iframe src="" frameborder="0"></iframe>
		</div>
		<div class="close" onclick="$(this).parent().fadeOut(400)">×</div>
	</div>
</div>

<div id="layer-appMessages" class="component-layer">
	<div class="loadingLine">
		<span class="expand"></span>
	</div>
	<div class="alerts"></div>
</div>

<script>
	initializeApp()
</script>
